-subdirs = (files && !files.empty?)
%li.dir
  %img{'src' => "/images/#{(subdirs ? 'folder.png' : 'page.png')}"}
  %span.file{'data' => "{subdirs: #{!!subdirs}, filename:\'#{parent}\', url: \'#{url_for(:file => parent)}\', github: #{@gem.on_github? ? "\'" + @gem.homepage + "/blob/master/#{parent}\'" : false}}"}
    =dir
  -if subdirs
    %ul{'style' => 'display:none'}
      -files.each do |dir, files|
        =haml(:file_tree, :locals => {:dir => dir, :files => files, :parent => File.join(parent, dir)}, :layout => false)